{%- extends "layout.html" -%}
{%- block title %}{{post.title}}{% endblock %}

{% block navigation %}
<ul class="nav">
    {%- for item in config.navigation %}
    <li>
        <a {% if item.id == post.directory %} class="active" {% endif %} archiveId = "{{item.id}}"
        href="{{content_url(item.link)}}">
        {{item.title}} </a>
        {% if item.sub_nav %}
        <ul class="nav-sub">
            {%- for subItem in item.sub_nav %}
            <li>
                <a href="{{content_url(subItem.link)}}">{{subItem.title}}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}


{% block sub_navigation %}
<div class="row mar">
    <div class="threecol meta">
        <ul class="sub-nav">
        </ul>
    </div>
    {% endblock %}

    {% block content %}
    <div class="ninecol content">
        <div class="document">
            <div class="post-header">
                <h2 class="document-title">{{post.title}}</h2>

                <div class="post-meta">
                    <!--<span>{{post.meta.author}}</span> /-->
                    <time datetime="{{post.pubdate|date('Y-m-d')}}">{{post.pubdate|date('Y-m-d')}}</time>
                </div>
            </div>
            <div class="entry-content">
                {{post.html}}
            </div>
        </div>
    </div>
</div>
{% endblock %}

